.authPage {
  display: flex;
  align-items: center;
  justify-content: center;
  .authBox {
    margin-top: 50%;
  }
}

@media screen and (min-width: 800px) {
  .authPage {
    .authBox {
      margin-top: 10%;
      margin-left: auto;
      margin-right: auto;
      min-width: 300px;
      width: clamp(300px, 50%, 400px);
    }
  }
}
