@media screen and (min-width:800px){
    .projectList{
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}
.centerMessage{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}