.stepContainer{
    border-radius: 2em;
    box-shadow: 0 0 1em 0 rgba(0,0,0,0.5);
    //flex:1 auto;
    >ion-item{
        >ion-icon{
            margin-right: 1em;
        }
        >ion-list{
            width: 100%;
            >div{
                display: flex;
                align-items: center;
                width: 100%;
                >ion-label{
                    padding:0;
                }
                >ion-segment{
                    padding:0;
                    display: flex;
                    align-items: center;
                    >ion-segment-button{
                        padding:0;
                        min-width: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:800px) {
    .stepContainer{
        //flex: auto;
        width:clamp(300px, 30%, 400px);
        margin:1em;
    }
}