.stepContainer{
    border-radius: 2em;
    box-shadow: 0 0 1em 0 rgba(0,0,0,0.5);
    //flex:1 auto;
    >ion-item{
        >ion-icon{
            margin-right: 1em;
        }
        >ion-list{
            width: 100%;
            >div.range{
                display: grid;
                grid-template-columns: 2fr 8fr;
                align-items: center;
                justify-content: center;
                width: 100%;
                padding-right:1em;
                >ion-segment{
                    padding:0;
                    display: flex;
                    align-items: center;
                    >ion-segment-button{
                        padding:0;
                        min-width: 20px;
                    }
                }
            }
            
        }
        ion-range::part(pin){
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: #50FFC0;
            color:rgb(0,0,0);
            border-radius: 50%;
            //top:0px;
            z-index: 100;
            transform: scale(1.01);
            min-width: 28px;
            height:28px;
            box-shadow: 0 0 1em 0 #50FFC0;
        }
        ion-range::part(pin)::before{
            content:none;
        }
    }
}


@media screen and (min-width:800px) {
    .stepContainer{
        //flex: auto;
        width:clamp(300px, 30%, 400px);
        margin:1em;
    }
}